*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: transparent;
    font-family: $primary-font;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    // background-color: rgb(180, 145, 121);
    padding-top: 80px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
    
    &:hover{
        text-decoration: none;
    }
}

.header{
    background-color: white;
}

.slide{
    opacity: 0;
    transition: transform .7s ease-in-out, opacity .7s ease-in-out;
}

.slide-left{
    transform: translateX(50%);
}

.slide-right{
    transform: translateX(-50%);
}

.slide-up{
    transform: translateY(50%);
}