@import url("https://fonts.googleapis.com/css?family=Lora:400,700,|Satisfy&display=swap");
/* line 1, ../sass/base/_base.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: transparent;
  font-family: "Lora", serif;
}

/* line 9, ../sass/base/_base.scss */
html {
  scroll-behavior: smooth;
}

/* line 13, ../sass/base/_base.scss */
body {
  overflow-x: hidden;
  padding-top: 80px;
}

/* line 19, ../sass/base/_base.scss */
ul {
  list-style: none;
}

/* line 23, ../sass/base/_base.scss */
a {
  text-decoration: none;
  color: #000;
}
/* line 27, ../sass/base/_base.scss */
a:hover {
  text-decoration: none;
}

/* line 32, ../sass/base/_base.scss */
.header {
  background-color: white;
}

/* line 36, ../sass/base/_base.scss */
.slide {
  opacity: 0;
  transition: transform .7s ease-in-out, opacity .7s ease-in-out;
}

/* line 41, ../sass/base/_base.scss */
.slide-left {
  transform: translateX(50%);
}

/* line 45, ../sass/base/_base.scss */
.slide-right {
  transform: translateX(-50%);
}

/* line 49, ../sass/base/_base.scss */
.slide-up {
  transform: translateY(50%);
}

/* line 1, ../sass/modules/_navbar.scss */
nav {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
}

/* line 7, ../sass/modules/_navbar.scss */
nav .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d3bdb6;
  height: 100%;
  width: 100%;
  padding: 10px 30px;
}
/* line 17, ../sass/modules/_navbar.scss */
nav .nav .logo {
  padding: 0 20px;
}
/* line 19, ../sass/modules/_navbar.scss */
nav .nav .logo img {
  height: 50px;
}
/* line 24, ../sass/modules/_navbar.scss */
nav .nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
}
/* line 32, ../sass/modules/_navbar.scss */
nav .nav ul li {
  padding: 10px 15px;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
}
/* line 37, ../sass/modules/_navbar.scss */
nav .nav ul li img {
  height: 10px;
}
/* line 41, ../sass/modules/_navbar.scss */
nav .nav ul li a {
  color: #fff;
}
/* line 45, ../sass/modules/_navbar.scss */
nav .nav ul li ul {
  display: none;
  position: absolute;
  transition: .8s ease;
  background-color: #fccfcf;
  padding-bottom: 10px;
  z-index: +1;
}
/* line 58, ../sass/modules/_navbar.scss */
nav .nav ul li ul li {
  position: relative;
  display: block;
  padding: 5px 20px;
}
/* line 63, ../sass/modules/_navbar.scss */
nav .nav ul li ul li a {
  font-family: "Satisfy", cursive;
  font-size: 12px;
  color: #ab7867;
}
/* line 71, ../sass/modules/_navbar.scss */
nav .nav ul li ul.show {
  display: block;
  margin-top: 24px;
}
/* line 79, ../sass/modules/_navbar.scss */
nav .nav ul li.active ul {
  display: block;
  background-color: #fccfcf;
}
/* line 87, ../sass/modules/_navbar.scss */
nav .nav .search-bar {
  display: flex;
}
/* line 90, ../sass/modules/_navbar.scss */
nav .nav .search-bar input[type=search], nav .nav .search-bar input[type=submit] {
  height: 30px;
  padding: 5px 10px;
  border: none;
  background-color: #fff;
}
/* line 97, ../sass/modules/_navbar.scss */
nav .nav .search-bar input[type=search] {
  border-radius: 5px 0 0 5px;
}
/* line 101, ../sass/modules/_navbar.scss */
nav .nav .search-bar input[type=submit] {
  width: 30px;
  background-image: url("D:/web classes/final-project/images/icons/search1.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  border-radius: 0 5px 5px 0;
}
/* line 112, ../sass/modules/_navbar.scss */
nav .nav .search-bar input[type=submit]:hover {
  background-color: #eee;
}
/* line 116, ../sass/modules/_navbar.scss */
nav .nav .search-bar input[type=submit] img {
  height: 100%;
}

/* line 1, ../sass/modules/_headRecipes.scss */
.head-recipes {
  margin: 30px 0 0 0;
  padding: 0 60px;
}
/* line 10, ../sass/modules/_headRecipes.scss */
.head-recipes .row .col {
  padding: 0 10px;
}
/* line 16, ../sass/modules/_headRecipes.scss */
.head-recipes .row .col .item {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fee;
  transition: all .5s ease-in-out;
  border-radius: 3px;
}
/* line 27, ../sass/modules/_headRecipes.scss */
.head-recipes .row .col .item:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.2);
}
/* line 32, ../sass/modules/_headRecipes.scss */
.head-recipes .row .col .item .img-container {
  width: 100%;
}
/* line 35, ../sass/modules/_headRecipes.scss */
.head-recipes .row .col .item .img-container img {
  width: 100%;
  height: auto;
}
/* line 43, ../sass/modules/_headRecipes.scss */
.head-recipes .row .col .item .desc h5 {
  text-transform: capitalize;
}
/* line 47, ../sass/modules/_headRecipes.scss */
.head-recipes .row .col .item .desc .recipe-title {
  font-family: "Satisfy", cursive;
  font-size: 24px;
  color: #ab7867;
  padding: 10px 0 12px 0;
  margin: 0;
  border-bottom: 2px solid #aaa;
}
/* line 56, ../sass/modules/_headRecipes.scss */
.head-recipes .row .col .item .desc .recipe-time {
  margin: 0;
  padding: 10px 0 7px 0;
  font-family: "Lora", serif;
  font-size: 18px;
  float: left;
}
/* line 64, ../sass/modules/_headRecipes.scss */
.head-recipes .row .col .item .desc .icon-container {
  float: right;
  margin-top: 10px;
}
/* line 68, ../sass/modules/_headRecipes.scss */
.head-recipes .row .col .item .desc .icon-container img {
  padding: 0 5px;
}
/* line 76, ../sass/modules/_headRecipes.scss */
.head-recipes .row .col .item-inline {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
/* line 81, ../sass/modules/_headRecipes.scss */
.head-recipes .row .col .item-inline .img-container {
  width: 45%;
}
/* line 85, ../sass/modules/_headRecipes.scss */
.head-recipes .row .col .item-inline .desc {
  margin-left: 20px;
  width: 55%;
}
/* line 89, ../sass/modules/_headRecipes.scss */
.head-recipes .row .col .item-inline .desc .recipe-title {
  margin-bottom: 30px;
}
/* line 93, ../sass/modules/_headRecipes.scss */
.head-recipes .row .col .item-inline .desc a {
  padding: 7px 20px;
  color: #fff;
  background: #ab7867;
}
/* line 99, ../sass/modules/_headRecipes.scss */
.head-recipes .row .col .item-inline .desc a:hover {
  background-color: #905f4f;
}
/* line 110, ../sass/modules/_headRecipes.scss */
.head-recipes .row .col .item-side .desc .recipe-title {
  border: none;
  padding: 10px 0px 0px 0px;
}

/* line 1, ../sass/modules/_popularRecipe.scss */
.popular-recipe {
  position: relative;
  display: flex;
}
/* line 11, ../sass/modules/_popularRecipe.scss */
.popular-recipe .food img {
  width: 750px;
  margin: 70px 50px 70px 70px;
}
/* line 17, ../sass/modules/_popularRecipe.scss */
.popular-recipe .food .img-container3 img {
  width: 300px;
  position: absolute;
  bottom: 80px;
  left: calc(520px - 100px);
  transition: transform .5s ease-in-out;
}
/* line 23, ../sass/modules/_popularRecipe.scss */
.popular-recipe .food .img-container3 img:hover {
  transform: rotate(20deg) scale(1.05);
}
/* line 30, ../sass/modules/_popularRecipe.scss */
.popular-recipe .food .img-container4 img {
  width: 110px;
  position: absolute;
  bottom: 90px;
  left: calc(690px - 90px);
}
/* line 39, ../sass/modules/_popularRecipe.scss */
.popular-recipe .food p {
  font-family: "Satisfy", cursive;
  font-size: 17px;
  color: white;
  position: absolute;
  text-align: center;
  height: 128px;
  width: 320px;
  top: 290px;
  left: 115px;
}
/* line 52, ../sass/modules/_popularRecipe.scss */
.popular-recipe .food .rate img {
  position: absolute;
  width: 50px;
  top: 380px;
  left: 70px;
}
/* line 63, ../sass/modules/_popularRecipe.scss */
.popular-recipe .food .rate .view img {
  width: 15px;
  position: absolute;
  top: 380px;
  left: 150px;
}
/* line 70, ../sass/modules/_popularRecipe.scss */
.popular-recipe .food .rate .view .number {
  font-family: "Lora", serif;
  position: absolute;
  font-size: 12px;
  color: white;
  width: 60px;
  top: 448px;
  left: 242px;
}
/* line 82, ../sass/modules/_popularRecipe.scss */
.popular-recipe .food .rate .comment img {
  width: 15px;
  position: absolute;
  top: 380px;
  left: 260px;
}
/* line 90, ../sass/modules/_popularRecipe.scss */
.popular-recipe .food .rate .comment .comment-text {
  font-family: "Lora", serif;
  position: absolute;
  font-size: 12px;
  color: white;
  width: 40px;
  top: 448px;
  left: 350px;
}
/* line 101, ../sass/modules/_popularRecipe.scss */
.popular-recipe .food .rate .read {
  padding: 4px 5px;
  background: #fee;
  font-family: "Lora", serif;
  font-size: 10px;
  top: 480px;
  left: 135px;
  font-weight: bold;
  position: absolute;
}
/* line 113, ../sass/modules/_popularRecipe.scss */
.popular-recipe .food .rate .read a {
  color: black;
}
/* line 117, ../sass/modules/_popularRecipe.scss */
.popular-recipe .food .rate .read:hover {
  background: #ab7867;
}
/* line 120, ../sass/modules/_popularRecipe.scss */
.popular-recipe .food .rate .read:hover a {
  color: white;
}
/* line 128, ../sass/modules/_popularRecipe.scss */
.popular-recipe .recipes {
  padding: 70px 70px 70px 0;
}
/* line 131, ../sass/modules/_popularRecipe.scss */
.popular-recipe .recipes .recipe-text {
  font-family: "Lora", serif;
  font-size: 24px;
  text-transform: capitalize;
  position: relative;
  border-bottom: 2px solid #aaa;
  padding: 4px 5px;
  left: 100px;
}
/* line 144, ../sass/modules/_popularRecipe.scss */
.popular-recipe .recipes .images .chicken img {
  width: 180px;
  position: relative;
  top: 50px;
}
/* line 150, ../sass/modules/_popularRecipe.scss */
.popular-recipe .recipes .images .chicken .recipe-piece {
  font-family: "Satisfy", cursive;
  font-size: 20px;
  text-transform: capitalize;
  position: relative;
  top: 55px;
  color: #ab7867;
}
/* line 161, ../sass/modules/_popularRecipe.scss */
.popular-recipe .recipes .images .chicken1 img {
  width: 180px;
  position: relative;
  top: 80px;
}
/* line 167, ../sass/modules/_popularRecipe.scss */
.popular-recipe .recipes .images .chicken1 .recipe-piece {
  font-family: "Satisfy", cursive;
  font-size: 20px;
  text-transform: capitalize;
  position: relative;
  top: 85px;
  color: #ab7867;
}

/* line 3, ../sass/modules/_featuredRecipes.scss */
.featured-recipe .title {
  font-family: "Lora", serif;
  font-size: 24px;
  text-transform: capitalize;
  position: relative;
  border-bottom: 2px solid #aaa;
  left: 600px;
  padding: 4px 5px;
}
/* line 13, ../sass/modules/_featuredRecipes.scss */
.featured-recipe p {
  font-family: "Satisfy", cursive;
  font-size: 18px;
  position: relative;
  left: 260px;
  top: 14px;
  width: 850px;
  text-align: center;
  color: #ab7867;
}
/* line 24, ../sass/modules/_featuredRecipes.scss */
.featured-recipe .row {
  padding: 30px 20px 0px 20px;
  width: 100%;
  margin-left: 0;
}
/* line 35, ../sass/modules/_featuredRecipes.scss */
.featured-recipe .row .feature:hover .desc {
  opacity: 1;
  height: 120px;
}
/* line 42, ../sass/modules/_featuredRecipes.scss */
.featured-recipe .row .feature .img-container {
  position: relative;
}
/* line 47, ../sass/modules/_featuredRecipes.scss */
.featured-recipe .row .feature .img-container img {
  width: 100%;
  height: 100%;
}
/* line 55, ../sass/modules/_featuredRecipes.scss */
.featured-recipe .row .feature .desc {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: all .7s ease-in-out;
  position: relative;
  background: #fee;
}
/* line 65, ../sass/modules/_featuredRecipes.scss */
.featured-recipe .row .feature .desc .type a {
  padding: 4px 8px;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Lora", serif;
  background: #e6b9ab;
  display: inline-block;
  margin: 10px;
  color: white;
}
/* line 75, ../sass/modules/_featuredRecipes.scss */
.featured-recipe .row .feature .desc .type a:hover {
  background: #ab7867;
}
/* line 82, ../sass/modules/_featuredRecipes.scss */
.featured-recipe .row .feature .desc .recipe-title a {
  font-family: "Satisfy", cursive;
  font-size: 20px;
  color: #ab7867;
  margin: 0 10px;
  text-transform: capitalize;
}
/* line 92, ../sass/modules/_featuredRecipes.scss */
.featured-recipe .row .feature .desc .recipe-time {
  display: flex;
  margin-top: 10px;
}
/* line 96, ../sass/modules/_featuredRecipes.scss */
.featured-recipe .row .feature .desc .recipe-time img {
  margin: 3px 10px;
}
/* line 100, ../sass/modules/_featuredRecipes.scss */
.featured-recipe .row .feature .desc .recipe-time span {
  font-size: 12px;
}

/* line 1, ../sass/modules/_latestRecipes.scss */
.latest-recipe {
  padding-top: 80px;
}
/* line 3, ../sass/modules/_latestRecipes.scss */
.latest-recipe .title {
  font-family: "Lora", serif;
  font-size: 24px;
  text-transform: capitalize;
  border-bottom: 2px solid #aaa;
  padding: 4px 5px;
  position: relative;
  left: 320px;
}
/* line 15, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row {
  padding: 10px 10px 20px 0;
  width: 1200px;
  height: 500px;
}
/* line 22, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row .feature1 {
  padding-right: 0px;
  display: flex;
  flex-direction: column;
}
/* line 28, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row .feature1:nth-child(1) {
  position: relative;
  top: 20px;
}
/* line 33, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row .feature1:nth-child(2) {
  position: relative;
  top: 20px;
}
/* line 38, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row .feature1:last-child {
  position: relative;
  top: calc(-490px - 80px);
}
/* line 43, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row .feature1:nth-child(4) {
  position: relative;
  top: calc(-490px - 80px);
}
/* line 48, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row .feature1 .img-container {
  position: relative;
  overflow: hidden;
}
/* line 51, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row .feature1 .img-container img {
  width: 100%;
  transition: transform .5s ease-out;
}
/* line 58, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row .feature1 .img-container img:hover {
  transform: scale(1.05);
}
/* line 65, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row .feature1 .desc1 {
  background: #ab7867;
  height: 145px;
  position: relative;
  top: -1px;
}
/* line 73, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row .feature1 .desc1 .recipe-title a {
  font-family: "Satisfy", cursive;
  font-size: 23px;
  color: white;
  margin: 10px;
  text-transform: capitalize;
  position: relative;
  top: 5px;
}
/* line 84, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row .feature1 .desc1 .recipe-time {
  display: flex;
  margin-top: 10px;
}
/* line 89, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row .feature1 .desc1 .recipe-time img {
  margin: 3px 12px 3px 25px;
}
/* line 92, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row .feature1 .desc1 .recipe-time img:first-child {
  margin-left: 10px;
}
/* line 97, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row .feature1 .desc1 .recipe-time span {
  position: relative;
  top: -3px;
  font-size: 18px;
}
/* line 104, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row .feature1 .desc1 p {
  font-family: "Satisfy", cursive;
  font-size: 15px;
  color: white;
  left: 10px;
  top: 0px;
  width: 360px;
  text-align: left;
}
/* line 117, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row .feature1 .aboutus {
  width: 515px;
  background-color: #eaddd9;
  height: 1125px;
  position: relative;
  top: -50px;
  left: 10px;
}
/* line 125, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row .feature1 .aboutus img {
  max-width: 170px;
  position: absolute;
  left: 170px;
  top: 20px;
}
/* line 132, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row .feature1 .aboutus .girl {
  width: 60px;
  position: relative;
  top: 50px;
  left: 2px;
}
/* line 140, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row .feature1 .aboutus p {
  font-family: "Satisfy", cursive;
  font-size: 16px;
  color: black;
  left: 45px;
  top: 260px;
  width: 420px;
  text-align: center;
}
/* line 150, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row .feature1 .aboutus .logo {
  width: 380px;
  display: flex;
  position: relative;
  top: 280px;
  left: 65px;
  padding: 90px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
/* line 162, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row .feature1 .aboutus .logo .icon img {
  left: 10px;
  top: 60px;
  transition: all .5s ease-in-out;
}
/* line 166, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row .feature1 .aboutus .logo .icon img:hover {
  transform: translateY(-10px);
}
/* line 172, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row .feature1 .aboutus .logo .icon1 img {
  left: 110px;
  top: 60px;
  transition: all .5s ease-in-out;
}
/* line 176, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row .feature1 .aboutus .logo .icon1 img:hover {
  transform: translateY(-10px);
}
/* line 182, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row .feature1 .aboutus .logo .icon2 img {
  left: 210px;
  top: 60px;
  transition: all .5s ease-in-out;
}
/* line 186, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row .feature1 .aboutus .logo .icon2 img:hover {
  transform: translateY(-10px);
}
/* line 192, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row .feature1 .aboutus .logo .icon3 img {
  left: 310px;
  top: 60px;
  transition: all .5s ease-in-out;
}
/* line 196, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row .feature1 .aboutus .logo .icon3 img:hover {
  transform: translateY(-10px);
}
/* line 203, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row .feature1 .aboutus .newspaper {
  background: white;
  position: relative;
  top: 360px;
  width: 400px;
  height: 330px;
  left: 60px;
}
/* line 211, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row .feature1 .aboutus .newspaper .report-title {
  font-family: "Lora", serif;
  font-size: 28px;
  text-align: center;
  position: relative;
  top: 5px;
  padding: 4px 5px;
  font-weight: bolder;
}
/* line 222, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row .feature1 .aboutus .newspaper p {
  font-family: "Satisfy", cursive;
  font-size: 15px;
  color: #ab7867;
  left: 15px;
  top: 15px;
  width: 360px;
  text-align: center;
}
/* line 232, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row .feature1 .aboutus .newspaper .email {
  background: #ab7867;
  position: relative;
  top: 50px;
  left: 60px;
  width: 280px;
}
/* line 238, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row .feature1 .aboutus .newspaper .email:hover {
  background: #865342;
}
/* line 241, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row .feature1 .aboutus .newspaper .email .title {
  font-family: "Lora", serif;
  font-size: 28px;
  text-align: center;
  left: 0px;
  color: white;
  border: 0;
  font-weight: bolder;
  text-transform: none;
}
/* line 255, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row .feature1 .aboutus .subscribe {
  background: white;
  position: relative;
  width: 400px;
  height: 50px;
  top: 400px;
  left: 60px;
}
/* line 262, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row .feature1 .aboutus .subscribe:hover {
  background: #ab7867;
}
/* line 264, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row .feature1 .aboutus .subscribe:hover .title {
  color: white;
}
/* line 269, ../sass/modules/_latestRecipes.scss */
.latest-recipe .row .feature1 .aboutus .subscribe .title {
  font-family: "Lora", serif;
  font-size: 28px;
  text-align: center;
  color: #ab7867;
  border: 0;
  font-weight: bolder;
  left: 80px;
  top: 5px;
}

/* line 1, ../sass/modules/_instagram.scss */
.instagrams {
  position: relative;
  top: 630px;
}
/* line 4, ../sass/modules/_instagram.scss */
.instagrams .instagram-title {
  font-family: "Lora", serif;
  font-size: 23px;
  text-transform: capitalize;
  position: relative;
  left: 300px;
  font-weight: bolder;
}
/* line 13, ../sass/modules/_instagram.scss */
.instagrams .profile {
  display: flex;
}
/* line 17, ../sass/modules/_instagram.scss */
.instagrams .profile img {
  width: 150px;
  position: relative;
  top: 20px;
  padding: 20px;
}
/* line 24, ../sass/modules/_instagram.scss */
.instagrams .profile .name {
  font-family: "Lora", serif;
  position: relative;
  top: 65px;
  font-size: 20px;
}
/* line 32, ../sass/modules/_instagram.scss */
.instagrams .profile .follow {
  font-family: "Satisfy", cursive;
  font-size: 18px;
  position: relative;
  left: -130px;
  top: 100px;
  color: #ab7867;
}
/* line 41, ../sass/modules/_instagram.scss */
.instagrams .profile .like img {
  width: 100px;
  position: relative;
  left: 150px;
  top: 30px;
}
/* line 47, ../sass/modules/_instagram.scss */
.instagrams .profile .like .likes {
  position: relative;
  font-family: "Lora", serif;
  font-size: 22px;
  font-weight: bolder;
  left: 150px;
  top: 20px;
}
/* line 58, ../sass/modules/_instagram.scss */
.instagrams .profile .ads img {
  width: 450px;
  position: absolute;
  left: 900px;
  top: 0px;
}
/* line 71, ../sass/modules/_instagram.scss */
.instagrams .typefood .row {
  position: relative;
  left: -20px;
}
/* line 80, ../sass/modules/_instagram.scss */
.instagrams .typefood .row .col .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
/* line 95, ../sass/modules/_instagram.scss */
.instagrams .typefood .row .col .item .img-container {
  width: 100%;
}
/* line 98, ../sass/modules/_instagram.scss */
.instagrams .typefood .row .col .item .img-container img {
  width: 100%;
  height: auto;
}
/* line 106, ../sass/modules/_instagram.scss */
.instagrams .typefood .row .col .item .desc h5 {
  text-transform: capitalize;
}
/* line 110, ../sass/modules/_instagram.scss */
.instagrams .typefood .row .col .item .desc .recipe-title {
  font-family: "Satisfy", cursive;
  position: relative;
  font-size: 22px;
  color: #ab7867;
  top: 10px;
  margin: 0;
  font-weight: bold;
  word-spacing: 6px;
}
/* line 122, ../sass/modules/_instagram.scss */
.instagrams .typefood .row .col .item .desc .time {
  background: #ab7867;
  width: 320px;
  height: 22px;
  top: 20px;
  position: relative;
}
/* line 130, ../sass/modules/_instagram.scss */
.instagrams .typefood .row .col .item .desc .time .recipe-time {
  position: relative;
  color: white;
  margin: 0;
  font-family: "Lora", serif;
  font-size: 15px;
  top: 2px;
  float: left;
  left: 2px;
}
/* line 143, ../sass/modules/_instagram.scss */
.instagrams .typefood .row .col .item .desc .icon-container img {
  width: 12px;
  position: relative;
  left: 305px;
  bottom: 5px;
}
/* line 152, ../sass/modules/_instagram.scss */
.instagrams .typefood .row .col .item .desc p {
  width: 400px;
  text-align: left;
  font-size: 15px;
  color: black;
  position: relative;
  left: 0px;
  top: 5px;
}
/* line 164, ../sass/modules/_instagram.scss */
.instagrams .typefood .row .col .item-inline1 {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 15px;
  right: 20px;
  left: -10px;
}
/* line 174, ../sass/modules/_instagram.scss */
.instagrams .typefood .row .col .item-inline1 .img-container {
  width: 200px;
  position: relative;
  bottom: 45px;
}
/* line 180, ../sass/modules/_instagram.scss */
.instagrams .typefood .row .col .item-inline1 .desc {
  margin-left: 20px;
  width: 100px;
  position: relative;
}
/* line 186, ../sass/modules/_instagram.scss */
.instagrams .typefood .row .col .item-inline1 .desc .recipe-title {
  width: 200px;
  font-size: 18px;
  position: relative;
  top: -40px;
}
/* line 194, ../sass/modules/_instagram.scss */
.instagrams .typefood .row .col .item-inline1 .desc p {
  width: 210px;
  position: relative;
  top: -35px;
}
/* line 203, ../sass/modules/_instagram.scss */
.instagrams .typefood .row .col .item-inline1 .down {
  position: relative;
  display: flex;
  top: 152px;
  right: 320px;
}
/* line 209, ../sass/modules/_instagram.scss */
.instagrams .typefood .row .col .item-inline1 .down .star img {
  width: 80px;
  position: relative;
  left: 0;
  top: 0;
}
/* line 217, ../sass/modules/_instagram.scss */
.instagrams .typefood .row .col .item-inline1 .down .view {
  width: 60px;
  font-size: 16px;
  color: #ab7867;
  font-family: "Satisfy", cursive;
  position: relative;
  left: 25px;
  top: 8px;
}
/* line 226, ../sass/modules/_instagram.scss */
.instagrams .typefood .row .col .item-inline1 .down img {
  width: 15px;
  height: 15px;
  position: relative;
  left: 45px;
  top: 8px;
}
/* line 232, ../sass/modules/_instagram.scss */
.instagrams .typefood .row .col .item-inline1 .down img:nth-last-child(2) {
  position: relative;
  left: 70px;
}
/* line 237, ../sass/modules/_instagram.scss */
.instagrams .typefood .row .col .item-inline1 .down .span {
  width: 60px;
  font-size: 16px;
  color: #ab7867;
  font-family: "Satisfy", cursive;
  position: relative;
  left: 50px;
  top: 8px;
}
/* line 245, ../sass/modules/_instagram.scss */
.instagrams .typefood .row .col .item-inline1 .down .span:last-child {
  position: relative;
  left: 75px;
}
/* line 254, ../sass/modules/_instagram.scss */
.instagrams .typefood .row .col .item-inline1 .down1 {
  position: relative;
  display: flex;
  right: 220px;
  bottom: 38px;
  width: 400px;
}
/* line 262, ../sass/modules/_instagram.scss */
.instagrams .typefood .row .col .item-inline1 .down1 .star img {
  width: 80px;
  position: relative;
  left: 0;
  top: 0;
}
/* line 270, ../sass/modules/_instagram.scss */
.instagrams .typefood .row .col .item-inline1 .down1 .view {
  width: 60px;
  font-size: 16px;
  color: #ab7867;
  font-family: "Satisfy", cursive;
  position: relative;
  left: 25px;
  top: 8px;
}
/* line 279, ../sass/modules/_instagram.scss */
.instagrams .typefood .row .col .item-inline1 .down1 img {
  width: 15px;
  height: 15px;
  position: relative;
  left: 45px;
  top: 8px;
}
/* line 285, ../sass/modules/_instagram.scss */
.instagrams .typefood .row .col .item-inline1 .down1 img:nth-last-child(2) {
  position: relative;
  left: 70px;
}
/* line 290, ../sass/modules/_instagram.scss */
.instagrams .typefood .row .col .item-inline1 .down1 .span {
  width: 60px;
  font-size: 16px;
  color: #ab7867;
  font-family: "Satisfy", cursive;
  position: relative;
  left: 50px;
  top: 8px;
}
/* line 298, ../sass/modules/_instagram.scss */
.instagrams .typefood .row .col .item-inline1 .down1 .span:last-child {
  position: relative;
  left: 75px;
}

/* line 1, ../sass/modules/_latestVideo.scss */
.latest-video {
  margin-top: 680px;
  height: 100px;
}
/* line 6, ../sass/modules/_latestVideo.scss */
.latest-video .title1 {
  display: flex;
  justify-content: center;
}
/* line 9, ../sass/modules/_latestVideo.scss */
.latest-video .title1 a {
  font-family: "Lora", serif;
  font-size: 24px;
  text-transform: capitalize;
  border-bottom: 2px solid #aaa;
  padding: 4px 5px;
  width: 150px;
}
/* line 21, ../sass/modules/_latestVideo.scss */
.latest-video .row {
  height: 340px;
}
/* line 29, ../sass/modules/_latestVideo.scss */
.latest-video .footer {
  height: 25px;
  background: black;
  display: flex;
  justify-content: center;
}
/* line 34, ../sass/modules/_latestVideo.scss */
.latest-video .footer a {
  color: white;
  font-family: "Lora", serif;
}

/* line 43, ../sass/modules/_latestVideo.scss */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  background-color: #333;
}
/* line 50, ../sass/modules/_latestVideo.scss */
footer a {
  color: #eee;
}

/* line 1, ../sass/modules/_secondaryRecipe.scss */
.secondary-recipe {
  position: relative;
  top: -8px;
  padding: 0;
  display: flex;
  background-color: #f7d5cb;
}
/* line 9, ../sass/modules/_secondaryRecipe.scss */
.secondary-recipe .img-container {
  width: 55%;
}
/* line 12, ../sass/modules/_secondaryRecipe.scss */
.secondary-recipe .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
/* line 20, ../sass/modules/_secondaryRecipe.scss */
.secondary-recipe .desc {
  width: 100%;
  position: absolute;
  padding: 40px 0 0 45px;
}
/* line 25, ../sass/modules/_secondaryRecipe.scss */
.secondary-recipe .desc img {
  width: 170px;
  margin-top: 5px;
}
/* line 30, ../sass/modules/_secondaryRecipe.scss */
.secondary-recipe .desc h3 {
  color: white;
  text-transform: capitalize;
  font-size: 19px;
  margin-top: 15px;
  position: relative;
  bottom: 38px;
  font-weight: 500;
}
/* line 39, ../sass/modules/_secondaryRecipe.scss */
.secondary-recipe .desc p {
  position: relative;
  top: -10px;
  padding: 10px 0 0 0;
  color: white;
  font-family: "Lora", serif;
  font-size: 12px;
  width: 300px;
}
/* line 51, ../sass/modules/_secondaryRecipe.scss */
.secondary-recipe .desc .footer {
  display: flex;
  align-content: flex-start;
  margin-top: 10px;
}
/* line 55, ../sass/modules/_secondaryRecipe.scss */
.secondary-recipe .desc .footer span {
  font-family: 'Satisfy', cursive;
  color: white;
  font-size: 14px;
}
/* line 62, ../sass/modules/_secondaryRecipe.scss */
.secondary-recipe .desc .footer .img-container1 img {
  width: 60px;
}
/* line 68, ../sass/modules/_secondaryRecipe.scss */
.secondary-recipe .desc .footer .img-container2 img {
  width: 20px;
  margin-left: 20px;
}
/* line 75, ../sass/modules/_secondaryRecipe.scss */
.secondary-recipe .desc .footer .img-container3 img {
  width: 20px;
  margin-left: 20px;
  margin-top: 5px;
}
/* line 80, ../sass/modules/_secondaryRecipe.scss */
.secondary-recipe .desc .footer .img-container3 span {
  position: relative;
  bottom: 8px;
}
/* line 87, ../sass/modules/_secondaryRecipe.scss */
.secondary-recipe .desc .related {
  margin-top: 100px;
}
/* line 89, ../sass/modules/_secondaryRecipe.scss */
.secondary-recipe .desc .related a {
  font-family: "Lora", serif;
  font-size: 18px;
  color: white;
}
/* line 95, ../sass/modules/_secondaryRecipe.scss */
.secondary-recipe .desc .related .container {
  display: flex;
}
/* line 98, ../sass/modules/_secondaryRecipe.scss */
.secondary-recipe .desc .related .container .img-container5 {
  padding: 25px 25px 0 0px;
}
/* line 100, ../sass/modules/_secondaryRecipe.scss */
.secondary-recipe .desc .related .container .img-container5 img {
  width: 200px;
  transition: all .8s ease;
}
/* line 103, ../sass/modules/_secondaryRecipe.scss */
.secondary-recipe .desc .related .container .img-container5 img:hover {
  transform: translatey(-8px);
  box-shadow: 0 15px 20px -8px  #723520;
}
/* line 116, ../sass/modules/_secondaryRecipe.scss */
.secondary-recipe .img-container4 {
  position: absolute;
}
/* line 120, ../sass/modules/_secondaryRecipe.scss */
.secondary-recipe .img-container4 img {
  position: absolute;
  width: 300px;
  left: 390px;
  top: 50px;
  transition: all .6s ease;
}
/* line 126, ../sass/modules/_secondaryRecipe.scss */
.secondary-recipe .img-container4 img:hover {
  transform: scale(0.96);
}
/* line 134, ../sass/modules/_secondaryRecipe.scss */
.secondary-recipe .related-video a {
  color: black;
  position: relative;
  left: 250px;
  top: 10px;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: bolder;
  border-bottom: 1px dashed black;
  padding: 4px 5px;
}
/* line 147, ../sass/modules/_secondaryRecipe.scss */
.secondary-recipe .related-video .video {
  padding: 50px 0 0 30px;
}
