.featured-recipe{

    .title{
        font-family: $primary-font;
        font-size: 24px;
        text-transform: capitalize; 
        position: relative;  
        border-bottom: 2px solid #aaa;
        left: 600px;
        padding: 4px 5px;  
    }

    p{
        font-family: $secondary-font;
        font-size: 18px;
        position: relative;
        left: 260px;
        top: 14px;
        width: 850px;
        text-align: center;
        color: $primary-color;
    }

    .row{
        padding: 30px 20px 0px 20px;
        width: 100%;
        // height: 350px;
        margin-left: 0;
        
        // &:first-child{
        //     padding-left: 10px;
        // }

        .feature{
            &:hover .desc{
                // transform: translateY(2px);
                // box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.2)
                opacity: 1;
                height: 120px;                         
            }

            .img-container{
                position: relative;
                // display: flex;
                // background-color: $secondary-color;
                
                img{
                    width: 100%;
                    height: 100%;
                    // transition: all .3s ease-in-out;

                }
            }

            .desc{
                opacity: 0;
                height: 0;
                overflow: hidden;
                transition: all .7s ease-in-out;
                position: relative;
                background: $secondary-color;
                // height: 120px;

                .type{ 
                    a{
                        padding: 4px 8px;
                        font-size: 16px;
                        text-transform: uppercase;
                        font-family: $primary-font;
                        background: #e6b9ab;
                        display: inline-block;
                        margin: 10px;
                        color: white;
    
                        &:hover{
                            background: $primary-color;
                        }                    
                    }
                }
                
                .recipe-title{
                    a{
                        font-family: $secondary-font;
                        font-size: 20px;
                        color: $primary-color;
                        margin: 0 10px;
                        text-transform: capitalize;

                    }
                }

                .recipe-time{
                    display: flex;
                    margin-top: 10px;
                    
                    img{
                        margin: 3px 10px;       
                    }

                    span{
                        font-size: 12px;
                    }
                }
            }
            

            
        }
    }
}