.head-recipes{
    // background: #eee;
    // height: 500px;
    margin: 30px 0 0 0; 
    padding: 0 60px ;

    .row{
        // background: red;

        .col{
            // background:beige;
            padding: 0 10px;



            .item{
                // background-color: bisque;
                padding: 12px;
                display: flex;
                flex-direction: column;
                // align-items: center;
                justify-content: center;
                background-color: #fee; 
                transition: all .5s ease-in-out;
                border-radius: 3px;
                
                &:hover{
                    transform: translateY(-8px);
                    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, .2);
                }

                .img-container{
                    width: 100%;

                    img{
                        width: 100%;
                        height: auto;
                    }
                }

                .desc{

                    h5{
                        text-transform: capitalize;
                    }

                    .recipe-title{
                        font-family: $secondary-font;
                        font-size: 24px;
                        color: $primary-color;
                        padding: 10px 0 12px 0;
                        margin: 0;
                        border-bottom: 2px solid #aaa;
                    }
                    
                    .recipe-time{
                        margin: 0;
                        padding: 10px 0 7px 0;
                        font-family: $primary-font;
                        font-size: 18px;
                        float: left;
                    }

                    .icon-container{
                        float: right;
                        margin-top: 10px;
                        
                        img{
                            padding: 0 5px;
                        }
                    }

                }
            }

            .item-inline{
                display: flex;
                flex-direction: row;
                align-items: flex-start;

                .img-container{
                    width: 45%;
                }

                .desc{
                    margin-left: 20px;
                    width: 55%;

                    .recipe-title{
                        margin-bottom: 30px;
                    }

                    a{
                        // margin-top: 20px;
                        padding: 7px 20px;
                        color: #fff;
                        background: $primary-color;

                        &:hover{
                            background-color: darken($primary-color, $amount: 10);
                        }
                    }
                }
            }
            
            .item-side{

                .desc{

                    .recipe-title{
                        border: none;
                        padding: 10px 0px 0px 0px;
                    }
                }
            }
        

        }
    }
}