.instagrams{ 
    position: relative;
    top: 630px;
    .instagram-title{
        font-family: $primary-font;
        font-size: 23px;
        text-transform: capitalize; 
        position: relative;
        left: 300px; 
        font-weight: bolder;
    }

    .profile{
        display: flex;
        // flex-direction: column;
        // position: absolute;
        img{
            width: 150px;
            position: relative;
            // left: 10px;
            top: 20px;
            padding: 20px;
        }
        .name{
            font-family: $primary-font;
            position: relative;
            top: 65px;
            font-size: 20px;
            // float: right;
    
        }
        .follow{
            font-family: $secondary-font;
            font-size: 18px;
            position: relative;
            left: -130px;
            top: 100px;
            color: $primary-color;
        }
        .like{
            img{
                width: 100px;
                position: relative;
                left: 150px;
                top: 30px;
            }
            .likes{
                position: relative;
                font-family: $primary-font;
                font-size: 22px;
                font-weight: bolder;
                left: 150px;
                top: 20px;
            }
        }

        .ads{
            img{
                width: 450px;
                position: absolute;
                left: 900px;
                top: 0px;


            }
        }

    }

    .typefood{
        .row{
            position: relative;
            left: -20px;
            // &:nth-last-child(2){
            //     padding-top: 60px;
            // } 

            .col{
    
                .item{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    position: relative;
                    

                    // transition: all .5s ease-in-out;
                    // border-radius: 3px;
                    
                    // &:hover{
                    //     transform: translateY(-8px);
                    //     box-shadow: 0 8px 16px -8px rgba(0, 0, 0, .2)
                    // }
    
                    .img-container{
                        width: 100%;
    
                        img{
                            width: 100%;
                            height: auto;
                        }
                    }
    
                    .desc{
    
                        h5{
                            text-transform: capitalize;
                        }
    
                        .recipe-title{
                            font-family: $secondary-font;
                            position: relative;
                            // left: 10px;
                            font-size: 22px;
                            color: $primary-color;
                            top: 10px;
                            margin: 0;
                            font-weight: bold;
                            word-spacing: 6px;
                        }
                        
                        .time{
                            background: $primary-color;
                            width: 320px;
                            height: 22px;
                            top: 20px;
                            position: relative;
                            // left: 10px;

                            .recipe-time{
                                position: relative;
                                color: white;
                                margin: 0;
                                font-family: $primary-font;
                                font-size: 15px;
                                top: 2px;
                                float: left;
                                left: 2px;
                            }
                        }

                        .icon-container{                               
                            img{
                                width: 12px;
                                position: relative;
                                left: 305px;
                                bottom: 5px;

                            }
                        }

                        p{
                            width: 400px;
                            text-align: left;
                            font-size: 15px;
                            color: black;
                            position: relative;
                            left: 0px;
                            top: 5px;
                        }
                    }
                }
    
                .item-inline1{
                    display: flex;
                    flex-direction: row;
                    // align-items: flex-start;
                    position: relative;
                    top: 15px;
                    right: 20px;
                    left: -10px;
                    // padding-bottom: 20px;
    
                    .img-container{
                        width: 200px;
                        position: relative;
                        bottom: 45px;
                        // left: 40px;
                    }
                    .desc{
                        margin-left: 20px;
                        width: 100px;
                        position: relative;
                        // left: 20px;
    
                        .recipe-title{
                            // margin-bottom: 30px;
                            width: 200px;
                            font-size: 18px;
                            position: relative;
                            top: -40px;
                        }

                        p{
                            width: 210px;
                            position: relative;
                            top: -35px;

                        }
                        
                    }

                    .down{
                        position: relative;
                        display: flex;
                        top: 152px;
                        right: 320px;
                        .star{
                            img{
                                width: 80px;
                                position: relative;
                                left: 0;
                                top: 0;
                                
                            }
                        }
                        .view{
                            width: 60px;
                            font-size: 16px;
                            color: $primary-color;
                            font-family: $secondary-font;
                            position: relative;
                            left: 25px;
                            top: 8px;
                        }
                        img{
                            width: 15px;
                            height: 15px;
                            position: relative;
                            left: 45px;
                            top: 8px;
                            &:nth-last-child(2){
                                position: relative;
                                left: 70px;
                            }
                        }
                        .span{
                            width: 60px;
                            font-size: 16px;
                            color: $primary-color;
                            font-family: $secondary-font;
                            position: relative;
                            left: 50px;
                            top: 8px;
                            &:last-child{
                                position: relative;
                                left: 75px;
                            }
                        }
                        
                        
                        
                    }
                    .down1{
                        position: relative;
                        display: flex;
                        // top: 152px;
                        right: 220px;
                        bottom: 38px;
                        width: 400px;
                        .star{
                            img{
                                width: 80px;
                                position: relative;
                                left: 0;
                                top: 0;
                                
                            }
                        }
                        .view{
                            width: 60px;
                            font-size: 16px;
                            color: $primary-color;
                            font-family: $secondary-font;
                            position: relative;
                            left: 25px;
                            top: 8px;
                        }
                        img{
                            width: 15px;
                            height: 15px;
                            position: relative;
                            left: 45px;
                            top: 8px;
                            &:nth-last-child(2){
                                position: relative;
                                left: 70px;
                            }
                        }
                        .span{
                            width: 60px;
                            font-size: 16px;
                            color: $primary-color;
                            font-family: $secondary-font;
                            position: relative;
                            left: 50px;
                            top: 8px;
                            &:last-child{
                                position: relative;
                                left: 75px;
                            }
                        }
                        
                        
                        
                    }
                     
                    
                    
                    
                }
                
                // .item-side{
    
                //     .desc{
    
                //         .recipe-title{
                //             // border: none;
                //             // padding: 10px 0px 0px 0px;
                //         }
                //     }
                // }
            
    
            }
        }
    }
}