.latest-video{
    // position: relative;
    // top: 600px;
    margin-top: 680px;
    height: 100px;
    .title1{
        display: flex;
        justify-content: center;
        a{  
            font-family: $primary-font;
            font-size: 24px;
            text-transform: capitalize; 
            border-bottom: 2px solid #aaa;
            padding: 4px 5px; 
            width: 150px;
            // align-items: center;
            // margin-left: 600px;
        }
    }

    .row{
        height: 340px;
        // &:hover{
        //     transform: translateY(2px);
        //     box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.2)
        // }
    }

    .footer{
        height: 25px;
        background: black;
        display: flex;
        justify-content: center;
        a{
            // align-items: center;
            // padding-left: 
            color: white;
            font-family: $primary-font;
        }
    }
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    background-color: #333;
    a{
        color: #eee;
    }
}