.latest-recipe{
    padding-top: 80px;
    .title{
        font-family: $primary-font;
        font-size: 24px;
        text-transform: capitalize; 
        border-bottom: 2px solid #aaa;
        padding: 4px 5px; 
        position: relative;  
        left: 320px;
        // padding-bottom: 20px;
        
    }

    .row{
        padding: 10px 10px 20px 0;
        width: 1200px;
        height: 500px;
        // margin: 0;
        // position: absolute;

        .feature1{
            padding-right: 0px;
            // position: relative;
            display: flex;
            flex-direction: column;

            &:nth-child(1){
                position: relative;
                top: 20px;
            }

            &:nth-child(2){
                position: relative;
                top: 20px;
            }

            &:last-child{
                position: relative;
                top: calc(-490px - 80px);
            }

            &:nth-child(4){
                position: relative;
                top: calc(-490px - 80px);              
            }

            .img-container{
                position: relative;
                overflow: hidden;
                img{
                    // position: absolute;
                    width: 100%;
                    // height: 550px;
                    // padding: 20px 0px 0px 0px;
                    transition: transform .5s ease-out;

                    &:hover{
                        transform: scale(1.05);
                    }

                }
            }

            .desc1{
                background: $primary-color;
                height: 145px;
                // margin-top: 0px;
                position: relative;
                top: -1px;

                .recipe-title{
                    a{
                        font-family: $secondary-font;
                        font-size: 23px;
                        color: white;
                        margin: 10px;
                        text-transform: capitalize;
                        position: relative;
                        top: 5px;
                    }
                }

                .recipe-time{
                    display: flex;
                    margin-top: 10px;
                    
                
                    img{
                        margin: 3px 12px 3px 25px;  
                        // margin-left: 5px; 
                        &:first-child{
                            margin-left: 10px;
                        }    
                    }

                    span{
                        position: relative;
                        top: -3px;
                        font-size: 18px;
                    }
                }

                p{
                    font-family: $secondary-font;
                    font-size: 15px;
                    color: white;
                    // position: relative;
                    left: 10px;
                    top: 0px;
                    width: 360px;
                    text-align: left;

                }
            }

            .aboutus{
                width: 515px;
                background-color: #eaddd9;
                height: 1125px;
                position: relative;
                top: -50px;
                left: 10px;

                img{
                    max-width: 170px;
                    position: absolute;
                    left: 170px;
                    top: 20px;
                }
                
                .girl{
                    width: 60px;
                    // align-items: center;
                    position: relative;
                    top: 50px;
                    left: 2px;
                }

                p{
                    font-family: $secondary-font;
                    font-size: 16px;
                    color: black;
                    left: 45px;
                    top: 260px;
                    width: 420px;
                    text-align: center;
                }

                .logo{
                    width: 380px;
                    display: flex;
                    // flex-direction: column;
                    position: relative;
                    top: 280px;
                    left: 65px;
                    padding: 90px;
                    border-bottom: 1px solid rgb(0, 0, 0);
                    border-top: 1px solid rgb(0, 0, 0);
                     
                    .icon{
                        img{
                            left: 10px;
                            top: 60px;
                            transition: all .5s ease-in-out;
                            &:hover{
                                transform: translateY(-10px);
                            }
                        }
                    }
                    .icon1{
                        img{
                            left: 110px;
                            top: 60px;
                            transition: all .5s ease-in-out;
                            &:hover{
                                transform: translateY(-10px);
                            }
                        }
                    }
                    .icon2{
                        img{
                            left: 210px;
                            top: 60px;
                            transition: all .5s ease-in-out;
                            &:hover{
                                transform: translateY(-10px);
                            }
                        }
                    }
                    .icon3{
                        img{
                            left: 310px;
                            top: 60px;
                            transition: all .5s ease-in-out;
                            &:hover{
                                transform: translateY(-10px);
                            }
                        }
                    }
                }

                .newspaper{
                    background: white;
                    position: relative;
                    top: 360px;
                    width: 400px;
                    height: 330px;
                    left: 60px;

                    .report-title{
                        font-family: $primary-font;
                        font-size: 28px;
                        text-align: center;
                        position: relative;  
                        // left: 10px;
                        top: 5px;
                        padding: 4px 5px; 
                        font-weight: bolder;
                    }

                    p{
                        font-family: $secondary-font;
                        font-size: 15px;
                        color: $primary-color;
                        left: 15px;
                        top: 15px;
                        width: 360px;
                        text-align: center;
                    }

                    .email{
                        background: $primary-color;
                        position: relative;
                        top: 50px;
                        left: 60px;
                        width: 280px;
                        &:hover{
                            background: #865342;
                        }
                        .title{
                            font-family: $primary-font;
                            font-size: 28px;
                            text-align: center;
                            left: 0px;
                            color: white;
                            border: 0;
                            font-weight: bolder;
                            text-transform: none;
                        }
                    }

                }

                .subscribe{
                    background: white;
                    position: relative;
                    width: 400px;
                    height: 50px;
                    top: 400px;
                    left: 60px;
                    &:hover{
                        background: $primary-color;
                        .title{
                            color: white;
                            
                        }
                    }
                    .title{
                        font-family: $primary-font;
                        font-size: 28px;
                        text-align: center;
                        color: $primary-color;
                        border: 0;
                        font-weight: bolder;
                        left: 80px;
                        top: 5px;
                        
                    }
                }


            }

        }

    }


}