nav{
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
}
nav .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d3bdb6; 
    height: 100%;
    width: 100%;
    padding: 10px 30px;


    .logo{
        padding: 0 20px;
        img{
            height: 50px;
        }
    }
    
    ul{
        list-style: none;
        display: flex;
        // justify-content:
        align-items: center;
        // padding: 0px 40px;
        margin: 0;
        
        li{
            padding: 10px 15px;
            color: white;
            text-transform: uppercase;
            font-size: 15px;
            img{
                height: 10px;
            }
            
            a{
                color: #fff;
            }
            
            ul{
                display: none;
                // display: block;
                position: absolute;
                transition: .8s ease;
                background-color:  rgb(252, 207, 207);
                padding-bottom: 10px;
                // margin-top: -100px;
                z-index: +1;
                // background-color: $primary-color;
                // width: 120px;
                // transform: ;
                
                li{
                    position: relative;
                    display: block;
                    padding: 5px 20px;
                    // background-color: $primary-color;
                    a{
                        font-family: $secondary-font;
                        font-size: 12px;
                        color: $primary-color;
                    }
                }
            }

            ul.show{
                display: block;
                margin-top: 24px;
                // transition: transform .8s ease;
            }
            
        }

        li.active ul{
            // display: block;
            display: block;
            // margin-top: 24px;
            background-color:  rgb(252, 207, 207);
        }
    }

    .search-bar{
        display: flex;
        
        input[type=search],input[type=submit]{
            height: 30px;
            padding: 5px 10px;
            border: none;
            background-color: #fff;
        }

        input[type=search]{
            border-radius: 5px 0 0 5px;
        }

        input[type=submit]{
            width: 30px;
            // height: 50px;
            // border: 2px solid red;
            background-image: url($image-path + "icons/search1.png");
            background-repeat: no-repeat;
            background-size: 70%;
            background-position: center;
            // background-color: #ccc;
            border-radius: 0 5px 5px 0;

            &:hover{
                background-color: #eee;
            }

            img{
                height: 100%;
            }
        }
        
    }
 
}
