.popular-recipe{
    // padding-top: 90px;
    position: relative;
    display: flex;
    // background-color: 

    .food{
 
        // position: relative;
        // display: flex;
        img{
            width: 750px;
            margin: 70px 50px 70px 70px;
                // z-index: -1;  
            }
        .img-container3{
            img{
                width: 300px;
                position: absolute;
                bottom: 80px;
                left: calc(520px - 100px);
                transition: transform .5s ease-in-out;
                &:hover{
                    transform: rotate(20deg) scale(1.05);
                     
                }
            }
        }
        .img-container4{
            img{
                width: 110px;
                position: absolute;
                bottom: 90px;
                left: calc(690px - 90px);
            }
        }


        p{
            font-family: $secondary-font;
            font-size: 17px;
            color: white;
            position: absolute;
            text-align: center;
            height: 128px;
            width: 320px;
            top: 290px;
            left: 115px;
        }

        .rate{
            img{
                position: absolute;
                width: 50px;
                top: 380px;
                left: 70px;
                // z-index: 99;
                // left: 0;
    
            }

            .view{ 
                img{
                    width: 15px;
                    position: absolute;
                    top: 380px;
                    left: 150px;
                }
                
                .number{
                    font-family: $primary-font;
                    position: absolute;
                    font-size: 12px;
                    color: white;
                    width: 60px;
                    top: 448px;
                    left: 242px;
                }
            }

            .comment{
                img{
                    width: 15px;
                    position: absolute;
                    top: 380px;
                    left: 260px;

                }

                .comment-text{
                    font-family: $primary-font;
                    position: absolute;
                    font-size: 12px;
                    color: white;
                    width: 40px; 
                    top: 448px;
                    left: 350px;
                }
            }

            .read{

                padding: 4px 5px;
                background: $secondary-color;
                font-family: $primary-font;
                font-size: 10px;
                top: 480px;
                left: 135px;
                font-weight: bold;
                position: absolute;
                
                
                a{
                    color:  black;
                }

                &:hover{
                    background: $primary-color;

                    a{
                        color: white;
                    }
                }
            }
        }
    }

    .recipes{
        padding: 70px 70px 70px 0;

        .recipe-text{
            font-family: $primary-font;
            font-size: 24px;
            text-transform: capitalize; 
            position: relative;  
            border-bottom: 2px solid #aaa; 
            padding: 4px 5px; 
            left: 100px;  
            // display: inline-block;
        }

        .images{
            .chicken{
                img{
                    width: 180px;
                    position: relative;
                    top: 50px;
                }

                .recipe-piece{
                    font-family: $secondary-font;
                    font-size: 20px;
                    text-transform: capitalize;
                    position: relative;
                    top: 55px;
                    color: $primary-color;
                }
            }

            .chicken1{
                img{
                    width: 180px;
                    position: relative;
                    top: 80px;
                }

                .recipe-piece{
                    font-family: $secondary-font;
                    font-size: 20px;
                    text-transform: capitalize;
                    position: relative;
                    top: 85px;
                    color: $primary-color;
                }
            }
        }
    }
}