.secondary-recipe{
    position: relative;
    top: -8px;
    padding: 0;
    display: flex;
    background-color: #f7d5cb;
    // overflow: hidden;

    .img-container{
        width: 55%;
        // height: 100vh;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
    }

    .desc{
        width: 100%;
        position: absolute;
        padding: 40px 0 0 45px;

        img{
            width: 170px;
            margin-top: 5px;
        }

        h3{
            color: white;
            text-transform: capitalize;
            font-size: 19px;
            margin-top: 15px;
            position: relative;
            bottom: 38px;
            font-weight: 500;
        }
        p{
            position: relative;
            top: -10px;
            padding: 10px 0 0 0;
            color: white;
            font-family: $primary-font;
            font-size: 12px;
            width: 300px
            // margin-top: 10px;
            // font-weight: 500;
        }

        .footer{
            display: flex;
            align-content: flex-start;
            margin-top: 10px;
            span{
                font-family: 'Satisfy', cursive;
                color: white;
                font-size: 14px;
            }

            .img-container1{
                img{
                    width: 60px;
                }
            }

            .img-container2{
                img{
                    width: 20px;
                    margin-left: 20px;
                }
            }

            .img-container3{
                img{
                    width: 20px;
                    margin-left: 20px;
                    margin-top: 5px;
                }
                span{
                    position: relative;
                    bottom: 8px;
                }
            }
        }

        .related{
            margin-top: 100px;
            a{
                font-family: $primary-font;
                font-size: 18px;
                color: white;
            }

            .container{
                display: flex;
                // padding: 10px;
                .img-container5{
                    padding: 25px 25px 0 0px;
                    img{
                        width: 200px;
                        transition: all .8s ease;
                        &:hover{
                            transform: translatey(-8px);
                            box-shadow: 0 15px 20px -8px  #723520;
                        }
                    }
                }
            }
            
        }
         

    }

    .img-container4{
        // display: flex;
        position: absolute;
        // width: 400px;
        img{
            position: absolute;
            width: 300px;
            left: 390px;
            top: 50px;
            transition: all .6s ease;
            &:hover{
                transform: scale(0.96);
    
            }
        }
    }
     
    .related-video{
        a{
            color: black;
            // margin-top: 200px;
            position: relative;
            left: 250px;
            top: 10px;
            text-transform: capitalize;
            font-size: 20px;
            font-weight: bolder;
            border-bottom: 1px dashed black;
            padding: 4px 5px;
        }

        .video{
            padding: 50px 0 0 30px;
        }
    }
}